.Erika-Branding {
  font-family: "Waterfall", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: darken($sage, 20%) !important;
}

// .item--current .Erika-Branding a,
// .item .Erika-Branding a {
//   color: red !important;
//   font-family: "Waterfall", cursive !important;
//   font-weight: 400 !important;
//   font-size: 4rem !important;
// }